GEMINI_API_KEY=tu_api_key_aqui
GEMINI_MODEL=gemini-modelo-elegido

# Configuración de credenciales de acceso (opcional)
ADMIN_USERNAME=Admin
ADMIN_PASSWORD=LaQueSea
USER_USERNAME=User
USER_PASSWORD=UnaDiferente